.idea
auxil/
out/
__pycache__
/train/
/text-training-corpus/
/text-project/
/extract.py
/project-notes.org
/text_project.ipynb
/*.pkl
/*.npy
/data/*
!/data/unicodes.txt
.ipynb_checkpoints
.vscode
/models/*
!/models/.gitkeep
!/models/error_generator_model.pt
/*.ipynb
/*.zip
/yle-corpus
/logs
logs.txt
/*.py